client441/src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bankWS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bankWS/" name="BankWS">
<types>
<xsd:schema>
<xsd:import namespace="http://bankWS/" schemaLocation="http://localhost:9191/?xsd=1"/>
</xsd:schema>
</types>
<message name="Convert">
<part name="parameters" element="tns:Convert"/>
</message>
<message name="ConvertResponse">
<part name="parameters" element="tns:ConvertResponse"/>
</message>
<message name="GetAccount">
<part name="parameters" element="tns:GetAccount"/>
</message>
<message name="GetAccountResponse">
<part name="parameters" element="tns:GetAccountResponse"/>
</message>
<message name="ListAccounts">
<part name="parameters" element="tns:ListAccounts"/>
</message>
<message name="ListAccountsResponse">
<part name="parameters" element="tns:ListAccountsResponse"/>
</message>
<portType name="BanqueService">
<operation name="Convert">
<input wsam:Action="http://bankWS/BanqueService/ConvertRequest" message="tns:Convert"/>
<output wsam:Action="http://bankWS/BanqueService/ConvertResponse" message="tns:ConvertResponse"/>
</operation>
<operation name="GetAccount">
<input wsam:Action="http://bankWS/BanqueService/GetAccountRequest" message="tns:GetAccount"/>
<output wsam:Action="http://bankWS/BanqueService/GetAccountResponse" message="tns:GetAccountResponse"/>
</operation>
<operation name="ListAccounts">
<input wsam:Action="http://bankWS/BanqueService/ListAccountsRequest" message="tns:ListAccounts"/>
<output wsam:Action="http://bankWS/BanqueService/ListAccountsResponse" message="tns:ListAccountsResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Convert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ListAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankWS">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:9191/"/>
</port>
</service>
</definitions>